@font-face {
  font-family: "title";
  src: url(./fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "regular";
  src: url(./fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
}

#header {
  background-image: linear-gradient(to right, #2b2caa, #2c82c9);
  padding: 20px;
  display: flex;
  align-items: center;
}

#header h1 {
  font-family: "title";
  color: white;
  margin: 0;
}

#menu {
  margin: 0 0 0 auto;
  display: flex;
  list-style: none;
}

#menu a {
  text-decoration: none;
  font-family: "regular";
  color: white;
}

#menu a:hover span {
  color: #c5eff7;
}

#menu img {
  width: 25px;
  -webkit-filter: invert(1);
  vertical-align: -5px;
  margin-left: 20px;
}

#container {
  padding: 10px;
}

#container h1, #container h2 {
  font-family: "title";
}

#container p {
  font-family: "regular";
  text-align: justify;
  text-indent: 20px;
}

#container figure {
  text-align: center;
}

#container img {
  width: 50%;
  border-radius: 20px;
}

#container figcaption {
  font-family: "regular";
  font-size: 80%;
}