<div id="header">
    <h1>Gramado e Canela</h1>
    <ul id="menu">
        <li>
            <a href="/">
                <img src="/img/home.png" alt="Casinha">
            </a>
            <a href="/">
                <span>Home</span>
            </a>
        </li>

        <li>
            <a href="/galeria/">
                <img src="/img/galeria.png" alt="Thumbnail de foto">
            </a>
            <a href="/galeria/">
                <span>Galeria</span>
            </a>
        </li>
    </ul>
</div>