@font-face {
  font-family: "title";
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
  background-color: #24252a;
}

#container {
  width: 70%;
  margin: auto;
}

#search-form {
  text-align: center;
  margin: 50px 0 20px 0;
}

#search-form input {
  width: 400px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
  font-family: "regular";
  font-size: 100%;
}

#search-form button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #038aff;
  font-family: "title";
  font-size: 100%;
}

#result-area {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tv-card {
  width: 33%;
  margin-bottom: 20px;
}

.tv-card h3 {
  font-family: "title";
  color: white;
}

.show-banner img {
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  #container {
    width: 100%;
  }

  #search-form input, #search-form button {
    display: block;
    margin: auto;
  }

  #search-form input {
    width: 300px;
    margin-bottom: 20px;
  }

  .tv-card {
    width: 100%;
  }

  .show-banner img {
    width: 100%;
  }
}